# Ignorar archivo de configuración local
src/config.env

# Ignorar directorio de compilación
build/

# Ignorar archivos de variables de entorno 
*.env

# Ignorar archivos temporales o de log
*.log
*.tmp
